---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
---

<Layout title="ily.rs">
  <Prose>
    <p slot="body">
      he felt all at once like an ineffectual moth, fluttering at the windowpane
      of reality, dimly seeing it from outside
    </p>
    <span slot="by">email</span>
    <span slot="credit">lew@ily.rs</span>
  </Prose>
</Layout>
