---
interface Props {
  justify?: boolean;
}
const { justify } = Astro.props;
---

<div class="flex min-h-screen flex-col items-center justify-center bg-white">
  <div
    class:list={[
      "mb-4 max-w-prose font-mono font-bold text-gray-500",
      { "text-justify": justify },
      { "text-center": !justify },
    ]}
  >
    <slot name="body" />
  </div>
  <div class="max-w-prose text-center font-mono text-gray-500">
    <slot name="by" />
    <span class="font-bold">
      <slot name="credit" />
    </span>
  </div>
</div>
